################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/AccessingSettings/bin/Debug/net8.0
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/ref
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/refint
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/Accessin.550281B7.Up2Date
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/AccessingSettings.AssemblyInfoInputs.cache
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/AccessingSettings.AssemblyInfo.cs
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/AccessingSettings.csproj.FileListAbsolute.txt
*.cache
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/AccessingSettings.pdb
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/AccessingSettings.dll
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/apphost.exe
/ConsoleApp1/AccessingSettings/obj/Debug/net8.0/AccessingSettings.sourcelink.json
/ConsoleApp1/ClassLibraryForUnitTesting/bin/Debug/net8.0
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/ref
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/refint
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/ClassLibraryForUnitTesting.AssemblyInfo.cs
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/ClassLibraryForUnitTesting.AssemblyInfoInputs.cache
*.txt
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/ClassLibraryForUnitTesting.dll
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/ClassLibraryForUnitTesting.pdb
/ConsoleApp1/ClassLibraryForUnitTesting/obj/Debug/net8.0/ClassLibraryForUnitTesting.sourcelink.json
/ConsoleApp1/PeopleApp/bin/Debug/net8.0
/ConsoleApp1/PeopleApp/obj/Debug/net8.0/ref
/ConsoleApp1/PeopleApp/obj/Debug/net8.0/refint
